---

import BaseLayout from "@/layouts/BaseLayout.astro";
import Greeting from '@/components/Greeting';

const title = "Página de inicio";

---

<BaseLayout pageTitle="My prop title index ">
	<h2>Mi impresionante subtítulo del blog</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>

<script>
	import "@/scripts/menu.js";
</script>
